<article>
  <mat-card class="card card--main mat-elevation-z6">
      <mat-card-header>
        <div mat-card-avatar [class]="companyLogoClass"></div>
        <mat-card-title>{{companyName}}</mat-card-title>
        <mat-card-subtitle>{{jobTitle | translate}}</mat-card-subtitle>
      </mat-card-header>
      <!-- <img mat-card-image src="../assets/bg.jpg" alt="My office"> -->
      <mat-card-content>
        <!-- <button mat-flat-button>Work in progress <mat-icon>construction</mat-icon></button> -->
       
        <h2>
          {{ 'Projects' | translate }}
        </h2>

        <mat-accordion class="accordion-headers-align">
          <mat-expansion-panel *ngFor="let project of projects">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{project.title | translate}}
              </mat-panel-title>
              <mat-panel-description>
                {{project.description | translate}}
                <div class="icons">
                  <mat-icon [svgIcon]="icon" *ngFor="let icon of project.icons"></mat-icon>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            {{project.details | translate}}
          </mat-expansion-panel>
        </mat-accordion>
  
      </mat-card-content>
      <mat-card-actions align="end">
        <a [href]="link" target="_blank">
          <button mat-mini-fab aria-label="Example icon button with a home icon">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </a>
      </mat-card-actions>
      <mat-card-footer>
        {{date | translate}}
      </mat-card-footer>
    </mat-card>
</article>