<mat-nav-list>
    <mat-list-item >
       <a matLine href="tel:+48530111699">{{'CallMe' | translate}}</a>
       <button mat-icon-button>
          <mat-icon>call</mat-icon>
       </button>
    </mat-list-item>
    <mat-list-item >
        <a matLine href="mailto:miroslaw.dubaj@gmail.com">{{'MailMe' | translate}}</a>
        <button mat-icon-button>
           <mat-icon>email</mat-icon>
        </button>
     </mat-list-item>
    <mat-list-item >
       <a matLine href="https://wa.me/48530111699">{{'WhatsappMe' | translate}}</a>
       <button mat-icon-button>
          <mat-icon>send</mat-icon>
       </button>
    </mat-list-item>
  </mat-nav-list>