<main>
  <section class="header">
    <mat-card class="card mat-elevation-z6">
      <mat-card-header>
        <div mat-card-avatar class="card__header-image"></div>
        <mat-card-title>Mirosław Dubaj</mat-card-title>
        <mat-card-subtitle>{{'CardSubtitle' | translate}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../assets/bg.jpg" alt="My office">
      <mat-card-content>
        <pre class="card__code"><code>  let me = work => "{{ '{' }}"for (;;) "{{ '{' }}"you(work);"{{ '}}' }}";
  const you = boss => alert(`Yes $"{{ '{' }}"boss"{{ '}' }}"!`);
  me('I got the job!');</code></pre>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" (click)="openBottomSheet()">{{'ContactMe' | translate}}</button>
      </mat-card-actions>
    </mat-card>
  </section>
  <section>
    <ng-container *ngFor="let card of cards">
      <app-card [companyName]="card.companyName" [companyLogoClass]="card.companyLogoClass" [jobTitle]="card.jobTitle"></app-card>
    </ng-container>
  </section>
</main>

<aside>
  <div>
    <button mat-mini-fab color="warn" aria-label="Change language button" (click)="toggleCurrentLang()">
      {{this.currentLang === 'en' ? 'pl' : 'en'}}
    </button>
  </div>
</aside>